<h1>Students.new (/Students/new)</h1>

<form action="/students/" method="post" enctype="multipart/form-data">
	<input type="text" name="username" />
	<input type="text" name="first_name" />
	<input type="text" name="last_name" />
	<input type="password" name="pwd" />


	<button type=submit>Create student</button>
</form>
